<template>
  <div>
  
        <div class="field">
            <label for="" class="label">Google DRIVE ID:</label>
            <div class="control">
                <input class="input" type="text" name="googleid" placeholder="google drive id" v-model="entry.googleid" v-on:keydown="encrypt">
                encryptacion: {{entry.encrypt_googleid}}
            </div>
        </div>

            <div class="field">
                <label class="label" for="Poster">Poster </label>
                <div class="control">
                  
                    <input class="input" type="text" name="poster" placeholder="poster url" v-model="entry.poster" v-on:keydown="gen">
                  </div>
            </div>
            <div class="field">
                <label class="label" for="subtitle">Subtitle </label>
                    <div class="control"><input class="input" type="text" placeholder="Subtitle url" v-model="entry.subtitle" v-on:keydown="gen"></div>
            </div>

            <div class="field">
                      <div class="control">
                        <textarea class="textarea" id="" cols="30" rows="10"> {{entry.html}} </textarea>
                          
                  </div>
            </div>

<div class="modal is-active" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
<div class="box has-text-centered">
<a href="http://paypal.me/zodman/">
<div class="columns">
  <div class="column">
  
<img class="image" src="https://i.imgur.com/eCb3je7.gif" />
  </div>
  <div class="column">
    <h1 class="title mt-l">Donate Baby</h1>
  </div>
</div>
</a>
</div>
  </div>

  <button class="modal-close is-large" aria-label="close" v-on:click="closemodal"></button>
</div>

  </div>
  </template>


<script>
import Data from './data.js';


export default {

  methods:{
    gen() {
      this.entry.complete_url = this.base_url + this.entry.encrypt_googleid +
        "&poster=" + this.entry.poster +
        "&subtitle=" + this.entry.subtitle;
      this.entry.html = "<iframe src='"+this.entry.complete_url+"'></iframe>";
    
    },
    encrypt(){
      console.log("keydown");
      this.axios.post(window.BASEURL + "api/e/",{'id':this.entry.googleid})
        .then(resp=>{
          this.entry.encrypt_googleid = resp.data.id;
          this.gen()
        })
    },
    closemodal(){
     var e = document.getElementById("modal");
      e.className = e.className.replace(/\bis-active\b/g, "");
    }
  },
  data() {
    return Data
  }
}


</script>


